@import '../../sass/partials/variables';

.container {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    @media #{$media-large} {
        width: 80%;
    }
    @media #{$media-desktop} {
        width: 80%;
    }
    @media #{$media-tablet-p} {
        width: 80%;
    }
    @media #{$media-tablet-l} {
        width: 90%;
    }
    @media #{$media-mobile} {
        width: 90%;
    }
    @media #{$media-small} {
        width: 93%;
    }
}

// /* Common theme */
// html,
// body,
// :not([style*="background-color:"]) {
//     background-color: rgb(16, 20, 23) !important;
// }
// html,
// body,
// :not([style*="color:"]) {
//     color: rgb(167, 158, 139) !important;
// }
// h1:not([style*="color:"]),
// h2:not([style*="color:"]),
// h3:not([style*="color:"]),
// h4:not([style*="color:"]),
// h5:not([style*="color:"]),
// h6:not([style*="color:"]) {
//     color: rgb(247, 142, 102) !important;
// }
// cite:not([style*="color:"]) {
//     color: rgb(128, 204, 148) !important;
// }
// input:not([style*="background-color:"]),
// textarea:not([style*="background-color:"]),
// button:not([style*="background-color:"]),
// [role="button"] {
//     background-color: rgb(32, 48, 64) !important;
// }
// input:not([style*="background-color:"]):hover,
// textarea:not([style*="background-color:"]):hover,
// button:not([style*="background-color:"]):hover,
// [role="button"]:hover {
//     background-color: rgb(30, 54, 78) !important;
// }
// input:not([style*="background-color:"]):active, input:not([style*="background-color:"]):focus,
// textarea:not([style*="background-color:"]):active, textarea:not([style*="background-color:"]):focus,
// button:not([style*="background-color:"]):active, button:not([style*="background-color:"]):focus,
// [role="button"]:active, [role="button"]:focus {
//     background-color: rgb(29, 56, 83) !important;
// }
// a:not([style*="color:"]) {
//     color: rgb(128, 182, 204) !important;
// }
// a:not([style*="color:"]):hover {
//     color: rgb(142, 193, 217) !important;
// }
// a:not([style*="color:"]):active, a:not([style*="color:"]):focus {
//     color: rgb(155, 203, 230) !important;
// }
// :not([style*="border-color:"]),
// ::before,
// ::after {
//     border-color: rgb(80, 115, 134) !important;
// }
// div:empty {
//     background-color: rgb(16, 20, 23) !important;
// }
// input::placeholder,
// textarea::placeholder {
//     color: rgb(167, 158, 139) !important;
// }
// input:not([style*="background-image:"]),
// textarea:not([style*="background-image:"]) {
//     background-image: none !important;
// }